body {
  font-family: inherit;
}

#coll,
#colr {
  height: 100vh;
  width: 100;
}
#coll {
  background: #758ecd;
}
#colr {
  background: #ffffff;
}

label {
  font-size: 40px;
  align-items: center;
  margin-left: 250px;
  margin-top: 150px;
  color: rgb(25, 46, 114);
}
.username {
  font-size: 25px;
  align-items: left;
  color: black;
}
#following {
  font-size: 40px;
  align-items: center;
  margin-left: 250px;
  margin-top: 20px;
  color: rgb(25, 46, 114);
}
#SearchBar {
  border-radius: 5%;
  width: 40%;
  padding: 15px;
  text-align: left;
  color: #758ecd;
  background-color: white;
  font-size: large;
  margin-top: 10px;
  margin-left: 255px;
}
#SearchButton {
  color: black;
  padding: 15px;
  text-align: center;
  border-color: #ffffff;
  width: 200px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 330px;
  background: #ffffff;
  border-radius: 25px;
}
#followStatus {
  background-color: #ffffff;
  border-radius: 100px;
  border-color: #758ecd;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}
.default-avatar {
  height: 50px;
  width: 50px;
}
.profileImage {
  padding: 0px;
  width: 50px;
  height: 50px;
  line-height: 50px;

  border-radius: 50%;
  border: 1px solid #707070;
}
