body{
    font-family:'Times New Roman', Times, serif;
    background-color: #3581b8;
}
h1, h2,h4{
    text-align: center;
    color: #FFFFFF;
}
h1{
    font-size: 40px;
    text-align: center;
    border-radius: 30px;
    height: 30px;
    width: 100px;
    background-color: #3581b8;
    padding-top: 10px;
    margin-left: 195px;
    margin-top: 70px;
    font-size: 20px;
}
h2{
    font-size: 30px;
    border-radius: 30px;
    height: 30px;
    width: 100px;
    background-color: #3581b8;
    text-align: center;
    padding-top: 10px;
    margin-left: 195px;
    margin-top: 20px;
    font-size: 20px;

}
#profile_picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 80px;
    height: 160px;
    width: 160px;
}
#coll{
    float: left;
    height: 600px;
    width: 500px;
    margin-left: 80px;
    margin-top: 55px;
    background-color: #FFFFFF;
}
#colr{
    float: right;
    height: 600px;
    width: 500px;
    background-color: #FFFFFF;
    margin-top: 55px;
    margin-right: 80px;
}
#logo{
    display: block;
    width: 20%;
    padding-top: 30px;
    padding-left: 10px;
    height: 120px;
    width: 120px;
}
h3{
    font-size: 30px;
    text-align: center;
    color: #3581b8;
    margin-right:10px;
}
h4{
    font-size: 40px;
    border-radius: 30px;
    height: 100px;
    width: 220px;
    background-color: #3581b8;
    text-align: center;
    padding-top: 20px;
    margin-left: 160px;
    margin-top: 80px;
    font-size: 20px;
}