body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f3f8f2;
}
h1,
h2 {
  text-align: center;
  color: #758ecd;
}
h1 {
  font-size: 40px;
}
h2 {
  margin-right: 50px;
  word-spacing: 50px;
  font-size: 30px;
}
.statusBox {
  padding: 10px;
  background-color: #758ecd;
  text-align: center;
  border: 1px solid #f3f8f2;
}
#exerciseImage {
  width: 70%;
  height: auto;
  border-radius: 50%;
  border: 1px solid #707070;
}
#exerciseList {
  width: 100%;
  height: 90%;
}
#historyRow {
  height: 95%;
}
.historyText {
  font-size: 28px;
  color: #758ecd;
  text-align: center;
}
.headingText {
  font-size: 35px;
  text-align: center;
  color: #758ecd;
  height: 40px;
}
#profileText{
  font-weight: bold;
}
.mainHeading {
  font-size: 45px;
  color: #758ecd;
  font-weight: bold;
  margin-bottom: 20px;
}
.exerciseInfo {
  margin-top: 15px;
  text-align: center;
  color: #707070;
  height: 40px;
  background-color: #ffffff;
  border-radius: 25px;
  vertical-align: center;
  border: 1px solid #707070;
  font-size: 22px;
  padding: 3px;
}
.weightInfo{
  margin-top: 15px;
  text-align: center;
  color: #707070;
  height: 40px;
  background-color: #ffffff;
  border-radius: 25px;
  vertical-align: center;
  border: 1px solid #707070;
  font-size: 22px;
  padding: 3px;
}
.status {
  background-color: white;
  border: 1px solid #707070;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
#arrow {
  padding-top: 5px;
  padding-left: 10px;
  height: 30px;
  width: 30px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#coll {
  border-right: 3px solid #dde2d6;
}
#colr {
  width: 780px;
  float: right;
  font-size: 22px;
  height: 720px;
}
#coll_slider {
  text-align: center;
  border-right: 0.5px solid #707070;
  border-left: 1px solid #707070;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  background-color: #ede6f2;
  margin-top: 10px;
}
#colr_slider {
  text-align: center;
  border-left: 0.5px solid #707070;
  border-right: 1px solid #707070;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  background-color: #ffffff;
  margin-top: 10px;
}

#main_slider {
  padding-top: 15px;
  padding-left: 100px;
  height: 50px;
  width: 403px;
}
#exercise,
#date {
  height: 30px;
  width: 130px;
  background-color: #758ecd;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
  margin-right: 30px;
  margin-top: 10px;
  font-size: 20px;
}

#red {
  background-color: red;
}
#green {
  background-color: #00b330;
}
#yellow {
  background-color: yellow;
}
#icon {
  width: 350%;
  height: auto;
  border-radius: 50%;
}
.MyButton {
  background-color: #758ecd;
  font-size: 24px;
  border: transparent;
  margin-left: 10px;
  margin-top: 10px;
}
.btn {
  background-color: #758ecd; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
#colr_status {
  background-color: #dee2d6;
  border-radius: 20%;
  font-size: 30px;
}
#main_pie {
  margin-top: 30px;
}
#pie,
#statistics_chart {
  height: 250px;
}
#graph_number_2 {
  height: 220px;
}
#line_graph {
  padding-top: 10px;
  padding-right: 15px;
}
#hash {
  height: 40px;
  width: 40px;
  padding-top: 5px;
  padding-left: 5px;
}
#num {
  height: 60px;
  width: 70px;
  border-radius: 10px;
  background-color: #758ecd;
  padding-right: 40px;
}
#number_text {
  font-size: 40px;
  padding-left: 50px;
}
#choose_exercise {
  text-align: center;
  padding-top: 5px;
  font-size: 40px;
  background-color: #ede6f2;
  border: 0.5px solid grey;
  border-radius: 10px;
}
.main_graph {
  background-color: #758ecd;
  border: 0.5px solid grey;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
#line_graph_2 {
  height: 200px;
  width: 200px;
  margin-right: 30px;
}
#big_graph {
  height: 300px;
  width: 400px;
  margin-left: 80px;
}
#graph_text,
#statistics_text {
  font-size: 40px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}
#about_exercise {
  width: 700px;
  height: 538px;
}
#info_about_exercise {
  float: left;
  height: 300px;
  width: 300px;
}
#info_div {
  background-color: #758ecd;
  border: 2px solid #707070;
  border-radius: 10%;
  text-align: center;
  vertical-align: text-top;
  margin-top: 10px;
  margin-left: 10px;
}
#statusBox {
  background-color: #758ecd;
  text-align: center;
  border: 1px solid #f3f8f2;
  border-radius: 10%;
  vertical-align: text-top;
}
#load_char {
  height: 90px;
  width: 90px;
  margin-top: 10px;
}
h4 {
  color: #dee2d6;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#pilates_img {
  height: 300px;
  width: 350px;
}
#about_exercise_text {
  height: 250px;
  width: 700px;
  vertical-align: bottom;
  justify-content: end;
}

#copyButton {
  border: 1px solid #707070;
  background-color: #758ecd;
  height: 50px;
  width: 60%;
  color: white;
  text-align: center;
  position: relative;
  font-size: 30px;
}
