body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dee2d6;
}
h1,
h2,
#b {
  text-align: center;
  color: #758ecd;
}
h1 {
  font-size: 100px;
}
h2 {
  word-spacing: 70px;
  font-size: 50px;
}
#main {
  text-align: center;
  height: 720px;
  width: 1280px;
}
#b {
  background: #758ecd;
  color: #f3f8f2;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 25px;
  width: 20%;
  height: 40px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  font-size: 25px;
}
#imgInput {
  border-radius: 25px;
  width: 50%;
  height: 50px;
  margin: auto;
  border: 1px solid #707070;
  text-align: center;
  color: #758ecd;
  background-color: white;
  margin-top: 2%;
}
